*
{
    margin: 0;
    padding: 0;
}
#hero
{
width: 1440px;
height: 652px;
background-image: url('assets/Hero-bg.png');
background-size: cover;
background-position: center;
text-align: center;
justify-content: center;
}
.background
{
    width: 998px;
height: 582px;
}